body{
    color:rgb(255, 106, 0);
}
form{
    align-items: center;
    height: 200px;
    width: 300px;
    background-color: aqua;
}
input{
    border: lightyellow;
    margin: 1px;
    background-color: linen;
    border-radius: 10px;
}
a{
    color: black;
    font: 10px solid oblique sans-serif;
    align-items:center;
}